/* Container for the profile section */
.profile-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 70px;
}

.profile-wrapper {
  width: 100%;
  max-width: 80%;
  height: auto;
}

/* Container for the profile boxes */
.profile-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 20px;
}

/* Individual profile box */
.profile-box {
  width: 270px;
  height: 564px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  text-align: center;
  color: black;

 
}

/* Profile image container */
.profile-image {
  width: 270px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Profile image style */
.profile-image img {
  max-width: 100%;
  height: auto;
}

/* Profile information */
.profile-info {
  width: 100%;

}

/* Name styling */
.profile-name {
  font-size: 32px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;

}

/* Position styling */
.profile-position {
  font-family: 'Poppins', sans-serif;
}

/* Social icons container */
.social-icons {
  display: flex;
  gap: 16px;
  padding-top: 15px;
  text-align: center;
  justify-content: center;
  font-size: 25px;
}

/* Social icon style */
.icon {
  font-size: 24px;
}

/* Individual icon classes */
.twitter-icon {
  color: #1DA1F2;
}

.instagram-icon {
  color: #C13584;
}

.linkedin-icon {
  color: #0A66C2;
}
